.shade1{
    background-color: #001f3f;
}
.shade2{
    background-color: #003366;
}
.shade3{
    background-color: #004c99;
}
.shade4{
    background-color: #0066cc;
}
.shade5{
    background-color: #3399ff;
}
.shade6{
    background-color: #66b3ff;
}
.shade7{
    background-color: #99ccff;
}